# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool: Default

variables:
  buildConfiguration: 'Release'

steps:
- task: WhiteSource@21
  displayName: "WhiteSource Scan"
  inputs:
    cwd: '$(System.DefaultWorkingDirectory)'
    projectName: 'DotNetWebApp'

- task: Bash@3
  displayName: "TruffleHog Scan"
  inputs:
    targetType: 'inline'
    script: |
      which trufflehog
      echo $PATH
      env
      trufflehog --entropy=NO --regex $(System.DefaultWorkingDirectory)
    failOnStderr: true
- task: DockerInstaller@0
  displayName: "Install Docker"
  inputs:
    dockerVersion: '17.09.0-ce'

- task: Docker@2
  displayName: "Build and Publish Docker Image"
  inputs:
    containerRegistry: 'devsecopz container registry'
    repository: 'dotnetwebapp'
    command: 'buildAndPush'
    Dockerfile: '**/Dockerfile'