@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome DevSecOpz!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://www.penguin.co.uk/content/dam/prh/articles/adults/2020/july/Main-Hitchhikers-Guide.jpg" alt="42">
</div>
